body{
  background-color: blueviolet;
 

}
.App {
  
  text-align: center;
}


 .buttonStyling  {
  border: 1px solid rgb(46, 11, 59);
  border-radius: 5px;
  background: rgb(253, 248, 253);
  padding: 20px 50px;
  margin: 5px;
  font-size : .5em
}

.stopWatchDiv{
  text-align: center;
  font-size: 3em;
  margin: 2em
}

label{
  display : block;
   margin: 1em
}

